<div class="text-center py-5 text-white about-cover">
  <h1>Sharing Leftoversとは</h1>
</div>
<section class="text-center py-5 block">
  <h2 class="mb-4">余りものをシェアするためのプラットフォーム</h2>
  <p>たくさんの物が溢れている現代では毎日多くの物が捨てられています。<br>
  その中にはまだまだ使える物も少なくありません。</p>
  <p>特に「衣食住」などの生活に最も大切な部分は、余っている人の所には<br>
  捨てるほどあるのに、無い人の所には全然ありません。</p>
  <p>Sharing Leftoversはそんな余った物をシェアするプラットフォームです。<br>
  あなたにとっての不用品が誰かにとっての命綱になるかもしれません。</p>
  <p>まずは無料で始めてみませんか？</p>
</section>



<section class="bg-light text-center py-5 mb-5 block">
      <%= link_to "Sign Up Now!", new_user_path,
      class: "btn btn-primary btn-lg"%>
</section>