<div class="text-center py-5 text-white top-cover">
  <h1>Sharing Leftovers</h1>
  <%= link_to "Sign Up Now!", new_user_path,
class: "btn btn-primary btn-lg"%>
</div>



<section class="bg-light text-center py-5">
      <%= link_to "Sign Up Now!", new_user_path,
      class: "btn btn-primary btn-lg block" %>
</section>